.publication {
    margin: 0 !important;
    padding: 0 !important;
}

.publication .title {
    font-size: 1.1em !important; /* Adjust as needed */
    color: #333 !important; /* Darker color for the title */
    margin: 0 !important; /* Reset any default margin */
    padding: 0 !important; /* Reset any default padding */
    line-height: 1.2 !important; /* Adjust to control the space between lines */
}

.publication .details {
    font-size: 0.9em !important; /* Smaller font size for details */
    color: #555 !important; /* Lighter color for details */
    margin: 0 !important; /* Reset any default margin */
    padding: 0 !important; /* Reset any default padding */
    line-height: 1.2 !important; /* Match line-height for consistency */
}
